// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito','km', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-primary: #868e96;
$color-success: #1dc9b7;
$color-info: #2196F3;
$color-warning: #ffc241;
$color-danger: #b57d6a;
